body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #2b2f3a;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.canvas-container {
    position: relative;
    display: inline-block;
}

canvas {
    background-color: white;
    border: 5px solid #2b2f3a; /* Dark grey with a hint of blue */
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: lightgrey; /* Light grey as per your requirement */
    z-index: 2; /* To ensure the title is above the canvas */
}
